<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Lista de Empleados</title>
</head>
<body>
    <div class="container">
        <h1>Lista de Empleados</h1>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{/employee/newFrm}">Nuevo Empleado</a>
        <form class="input-group mb-lg-3" method="post" th:action="@{/employee/buscar}">
            <!-- COMPLETAR -->
            <div class="input-group-append">
                <div style="display: flex; flex-direction: row; column-gap: 10px">
                    <input type="text" name="word" style="outline: none; padding:10px;width: 300px; border:2px solid dimgray; border-radius: 6px">
                    <button type="submit" class="btn btn-outline-primary">Buscar</button>
                    <a href="/Laboratorio3/employee/lista"><button type="button" class="btn btn-outline-danger" style="height: 47px">Limpiar Filtros</button></a>


                </div>
            </div>
        </form>

        <!-- COMPLETAR -->
        <!-- COMPLETAR -->
            <table class="table table-sm" th:if="${listaEmpleados.size() != 0}">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Puesto</td>
                    <td>Departamento</td>
                    <td>Ciudad</td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee, IterIndex : ${listaEmpleados}">
                    <td th:text="${IterIndex.index}"></td>
                    <td th:text="${employee.getFirstName()}"></td>
                    <td th:text="${employee.getLastName()}"></td>
                    <td th:text="${employee.getJob().getJobTitle()}"></td>
                    <td th:text="${employee.getDepartment().getDepartmentName()}"></td>
                    <td th:text="${employee.getDepartment().getLocation().getCity()}"></td>
                    <td>
                        <form class="input-group mb-lg-3" method="post" th:action="@{/employee/editFrm}">                <!-- COMPLETAR -->
                            <!-- COMPLETAR -->
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary">Editar</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form class="input-group mb-lg-3" method="post" th:action="@{/employee/borrar}">                <!-- COMPLETAR -->
                            <!-- COMPLETAR -->
                            <div class="input-group-append">
                                <button type="button" class="btn btn-danger">Borrar</button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

        <p th:if="${listaEmpleados.size()==0}">No se encontro un empleado con ese nombre</p>

        </div>
    </body>
</html>