<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">

<div th:insert="navbar.html :: navbar"></div>

<div class="container">
  <h1>Historial de empleados</h1>

  <form class="input-group mb-lg-3" method="post" th:action="@{/history/buscar}">
    <!-- COMPLETAR -->
    <div class="input-group-append">
      <div style="display: flex; flex-direction: row; column-gap: 10px">
        <input type="text" name="word" style="outline: none; padding:10px;width: 300px; border:2px solid dimgray; border-radius: 6px">
        <button type="submit" class="btn btn-outline-primary">Buscar</button>
        <a href="/Laboratorio3/history/lista"><button type="button" class="btn btn-outline-danger" style="height: 47px">Limpiar Filtros</button></a>
      </div>
    </div>
  </form>

  <!-- COMPLETAR -->
  <!-- COMPLETAR -->
  <table class="table table-sm" th:if="${listaHistorialEmpleados.size() != 0}">
    <thead>
    <tr>
      <td>Nombre</td>
      <td>Apellido</td>
      <td>Puesto</td>
      <td>Departamento</td>
      <td>Fecha Inicio</td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="history: ${listaHistorialEmpleados}">
      <td th:text="${history.getNombre()}"></td>
      <td th:text="${history.getApellido()}"></td>
      <td th:text="${history.getPuesto()}"></td>
      <td th:text="${history.getDepartamento()}"></td>
      <td th:text="${history.getFechaInicio()}"></td>
    </tr>
    </tbody>
  </table>

  <p th:if="${listaHistorialEmpleados.size()==0}">No se encontró historial de empleados</p>

</div>
</body>
</html>
